
.device-list > .list-elem {
    margin: 0;
    padding: 0;

    list-style-type: none;

    transition: all 100ms ease-in;

    &.disabled {
        opacity: 0.5;
    }

    & > li {
        display: flex;

        flex-direction: row;
        align-items: center;

        border-bottom-style: solid;
        border-width: 1px;
        border-color: $device-list-border-color;
    }

    .device-name-input-container {
        display: block;
        position: relative;

        flex: 1;
    }

    .device-name-input {
        width: 100%;
        height: 60px;

        padding-right: 60px;

        transition: all 100ms ease-in;

        font-size: 1.4rem;
    }

    .device-name-input[disabled] {
        padding-right: $padding;

        background-color:transparent;
        color: $device-name-enabled-color;
    }

    .complete-button {
        position: absolute;

        top: 0;
        right: 0;

        box-sizing: border-box;

        background-image: url(./../images/button_tick.svg);
    }

    .complete-button:hover {
        background-color: lighten($input-bg-color, 10%);
    }

    .complete-button:active {
        background-color: lighten($input-bg-color, 15%);
    }

    .delete-button {
        background-image: url(./../images/button_bin.svg);
    }

    .edit-button {
        background-image: url(./../images/button_edit.svg);
    }
}

.os-header {
    display: flex;

    height: 58px;

    flex-direction: row;
    align-items:center;

    margin-top: $padding;
    padding: ($padding / 2) 0 ($padding / 2) $padding;

    background-color: $platform-name-heading-bg;

    img {
        height: 42px;
    }

    h1 {
        flex: 1;

        margin: 0 0 0 $padding;
        color: $platform-name-heading-font-color;
    }

    .toggle-switch {
    }
}

$opacity-timing: 0.2s;
$width-timing: 0.4s;
$icon-size: 60px;
$tooltip-width: 100px;
$tooltip-height: 1rem + (2*$padding);

.device-browser-selection-container {
    display: flex;

    flex-direction: row;
    flex: 2;

    margin: 0;
    padding: 0;

    list-style-type: none;

    li {
        position:relative;
        display: flex;

        height: 70px;

        flex-direction: row;
        align-items: center;
    }

    li > img {
        width: 42px;
        height: 42px;

        padding: 5px;

        box-sizing: border-box;

        transition: opacity $opacity-timing, width $width-timing $opacity-timing;
    }

    /**li > span {
        position: absolute;
        display: none;

        width: $tooltip-width;
        height: $tooltip-height;

        left: -(($tooltip-width - $icon-size) / 2);
        top: 0;

        //padding: $padding;
        box-sizing: border-box;

        line-height: $tooltip-height - (2 * $padding);


        font-size: 1rem;
        text-align: center;
        color: rgb(113, 157, 171);
        background: rgb(255, 255, 255);
        border: 4px solid rgb(255, 255, 255);
        border-radius: 5px;
        text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
        box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
    }

    li:first-of-type > span {
        display: block;
    }

    li > span:after {
        content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      top: 44px;
      left: 50px;
    }**/

    li.deselected > img {
        //filter: grayscale(100%);
        opacity: 0.3;
    }

    li.deselected:hover > img {
        //filter: grayscale(40%);
        opacity: 1.0;
    }


}
