.app-screens {
  margin: 0;
  padding: 0;
}

.os-header {
  display: flex;

  width: 100%;
  height: $padding * 5;

  flex-direction: row;
  align-items: center;

  padding: 0 $horizontal-padding;

  box-sizing: border-box;

  background-color: $platform-name-heading-bg;

  h1 {
    flex: 1;

    padding: 0 $padding;
    margin: 0;

    font-size: 1.6rem;

    color: $platform-name-heading-font-color;
  }
}

.device-list .list-elem {
  margin: 0;
  padding: 0;

  list-style-type: none;

  transition: opacity 100ms ease-in;

  & > li {
    display: flex;

    width: 100%;
    height: $padding * 4;

    flex-direction: row;
    align-items: center;

    overflow: hidden;

    padding: 0 $horizontal-padding;

    box-sizing: border-box;

    border-bottom-style: solid;
    border-width: 1px;
    border-color: $device-list-border-color;
  }

  .device-name-input-container {
    display: block;
    position: relative;

    flex: 1;

    margin-left: -$padding;

    input {
      width: 100%;
      height: $btn-size;

      font-size: 1.4rem;

      padding-right: $btn-size;

      transition: all 100ms ease-in;

      color: $device-name-enabled-font-color;
      background-color: $device-name-active-input;
    }

    input[disabled] {
      padding-right: 0;

      background-color:transparent;

      color: $device-name-enabled-color;
    }
  }

  & > li.disabled {
    input[disabled] {
      color: $device-name-disabled-color;
    }
  }

  .delete-button {
    background-image: url(./../images/button_bin.svg);
  }

  .edit-button {
    background-image: url(./../images/button_edit.svg);
  }

  .complete-button {
    position: absolute;

    top: 0;
    right: 0;

    box-sizing: border-box;

    background-image: url(./../images/button_tick.svg);
  }

  .complete-button:hover {
    background-color: $device-name-enabled-bg-color-focus;
  }

  .complete-button:focus {
    background-color: $device-name-enabled-bg-color-focus;
  }

  .complete-button:active {
    background-color: $device-name-enabled-bg-color-active;
  }
}

.device-list .list-elem.disabled {
  opacity: 0.5;
}

.device-browser-selection-container {
  display: flex;

  flex-direction: row;

  flex: 2;

  margin: 0;
  padding: 0 $padding;

  list-style-type: none;

  li {
    margin: 0;
    padding: 0;
  }

  li > img {
    transition: all 100ms ease-in;
  }

  li.deselected > img {
    //filter: grayscale(100%);
    opacity: 0.3;
  }

  li.deselected:hover > img {
    //filter: grayscale(40%);
    opacity: 1.0;
  }
}

li.disabled > .device-browser-selection-container {
  li > img {
    filter: grayscale(100%);
    opacity: 0.3;
  }
}

/**.device-list > .list-elem {
    margin: 0;
    padding: 0;

    list-style-type: none;

    transition: all 100ms ease-in;

    &.disabled {
        opacity: 0.5;
    }

    & > li {
        display: flex;

        flex-direction: row;
        align-items: center;

        border-bottom-style: solid;
        border-width: 1px;
        border-color: $device-list-border-color;
    }

    .device-name-input-container {
        display: block;
        position: relative;

        flex: 1;
    }

    .device-name-input {
        width: 100%;
        height: 60px;

        padding-right: 60px;

        transition: all 100ms ease-in;

        font-size: 1.4rem;
    }

    .device-name-input[disabled] {
        padding-right: $padding;

        background-color:transparent;
        color: $device-name-enabled-color;
    }

    .complete-button {
        position: absolute;

        top: 0;
        right: 0;

        box-sizing: border-box;

        background-image: url(./../images/button_tick.svg);
    }

    .complete-button:hover {
        background-color: lighten($input-bg-color, 10%);
    }

    .complete-button:active {
        background-color: lighten($input-bg-color, 15%);
    }

    .delete-button {
        background-image: url(./../images/button_bin.svg);
    }

    .edit-button {
        background-image: url(./../images/button_edit.svg);
    }
}

.os-header {
    display: flex;

    height: 58px;

    flex-direction: row;
    align-items:center;

    margin-top: $padding;
    padding: ($padding / 2) 0 ($padding / 2) $padding;

    background-color: $platform-name-heading-bg;

    img {
        height: 42px;
    }

    h1 {
        flex: 1;

        margin: 0 0 0 $padding;
        color: $platform-name-heading-font-color;
    }

    .toggle-switch {
    }
}

$opacity-timing: 0.2s;
$width-timing: 0.4s;
$icon-size: 60px;
$tooltip-width: 100px;
$tooltip-height: 1rem + (2*$padding);

.device-browser-selection-container {
    display: flex;

    flex-direction: row;
    flex: 2;

    margin: 0;
    padding: 0;

    list-style-type: none;

    li {
        position:relative;
        display: flex;

        height: 70px;

        flex-direction: row;
        align-items: center;
    }

    li > img {
        width: 42px;
        height: 42px;

        padding: 5px;

        box-sizing: border-box;

        transition: opacity $opacity-timing, width $width-timing $opacity-timing;
    }

    li.deselected > img {
        //filter: grayscale(100%);
        opacity: 0.3;
    }

    li.deselected:hover > img {
        //filter: grayscale(40%);
        opacity: 1.0;
    }

}**/
