.nav-bar {
    display: flex;

    width:100%;
    height: auto;

    flex-direction: row;
    align-items: center;

    padding: $horizontal-padding;
    box-sizing: border-box;

    background-color: $navbar-bg;
}

.nav-bar > header {
    flex: 1;

    h1 {
        margin: 0;
        
        color: $navbar-title-color;
        font-size: 4rem;
    }
}

.nav-bar .url-send-container, .nav-bar .url-add-container {
    position: relative;

    display: block;

    flex: 1;

    input {
        width: 100%;
        height: $btn-size;

        padding-right: $btn-size;

        font-size: 1.4rem;
    }

    button {
        position: absolute;

        top: 0;
        right: 0;

        box-sizing: border-box;

        background-image: url(./../images/button_send.svg);
    }

    button.add-url {
        background-image: url(./../images/button_add.svg);
    }

}

.nav-bar > button {
    &.logout {
        background-image: url(./../images/button_logout.svg);
    }

    &.send-url {
        background-image: url(./../images/button_send.svg);
    }
}
