@mixin right-angle-toggle($height) {
    $offset: 0;
    $property: '';
    @while $offset <= $height {
        $property: $property + $offset + 'px ' + $offset + 'px ' + $toggle-switch-control-color-off-shadow;
        @if $offset != $height {
            $property: $property + ', ';
        }
        @else {
            $property: $property + ';';
        }
        $offset: $offset + 1;
    }

    box-shadow: unquote($property);
}

.toggle-switch {
    display: inline-block;
    position: relative;

    width: $switch-width;
    height: $switch-height;

    padding: 0 $padding;
}

.toggle-switch input {
    position: absolute;
    display: block;

    width: $switch-width;
    height: $switch-height;

    top: 0;
    left: $padding;

    margin: 0;
    padding: 0;

    opacity: 0;
}

.toggle-switch label {
    position: relative;

    width: $switch-width;
    height: $switch-height;

    float: left;

    user-select: none;
    overflow: hidden;
}

.toggle-switch label:before,
.toggle-switch label:after {
    content: ' ';

    position: absolute;
    display: block;

    width: $switch-width;
    height: $switch-height;

    top: 0;
    left: 0;

    background-color: $toggle-switch-track-color-off;

    border-radius: $border-radius;

    transition: all 100ms ease-in;
}

.toggle-switch label:after {
    width: $switch-size;
    height: $switch-size;

    margin: $switch-inset;

    background-color: $toggle-switch-control-color-off;

    border-radius: $border-radius;

    @include right-angle-toggle(($switch-height - $switch-inset));
}

.toggle-switch input:checked ~ label:before {
    background-color: $toggle-switch-track-color-on;
}

.toggle-switch input:checked ~ label:after {
    left: $switch-width - $switch-size - ($switch-inset * 2);

    background-color: $toggle-switch-control-color-on;

    box-shadow: none;
}

.toggle-switch input[disabled] ~ label:before, .toggle-switch input[disabled] ~ label:after {
    opacity: 0.5;
}
