// Color Scheme from http://pinterest.com/pin/135671007497294503/
$bg-color: rgb(74, 74, 76);
$primary-color: rgb(208, 208, 208);
$secondary-color: rgb(103, 174, 180);

$button-color: $primary-color;
$button-text-color: $bg-color;
$spinner-color: $secondary-color;
$spinner-track-color: rgba(103, 174, 180, .15);

$padding: 1rem;