@import "fonts";
@import "colors";
@import "dimens";
@import "buttons";
@import "inputs";
@import "loading";
@import "login";
//@import "empty_lab";
@import "navbar";
@import "device_list";
@import "toggle_switch";

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}


// Background image from the awesome subtlepatterns.com
body {
    display: block;

    position: relative;

    background-color: $bg-color;
    background-image: url('../images/cream_pixels.png');
    
    color: $font-color;
    font-family: 'Roboto Light', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

body > section {
    position: absolute;
    display: block;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    box-sizing: border-box;

    padding: $padding $horizontal-padding;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    color: $highlight-color;
    font-weight: 300;
}

img {
    max-width: 100%;
    height: auto;
}

.hide {
  display: none;
}

.spinner {
   height: $spinner-size;
   width: $spinner-size;
   position:relative;
   animation: rotation 1.0s infinite linear;
   border: $spinner-track-size solid $spinner-track-color;
   border-radius:100%;
}

.spinner:before {
   content:"";
   display:block;
   position:absolute;
   left:-$spinner-track-size;
   top:-$spinner-track-size;
   height:100%;
   width:100%;
   border-top: $spinner-track-size solid $spinner-color;
   border-left:$spinner-track-size solid transparent;
   border-bottom:$spinner-track-size solid transparent;
   border-right:$spinner-track-size solid transparent;
   border-radius:100%;
}

@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
