@import "colors";
@import "dimens";
@import "loading";
@import "login";

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    
}

body {
    display: block;

    position: relative;

    background-color: $bg-color;
    color: $primary-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;

    text-align: center;
}

section {
    display: block;

    position: absolute;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    color: $secondary-color;
    font-weight: 300;
}

h1 {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    position: relative;
    display: block;
    
    width: 100%;

    padding: 0.5rem;
    margin: $padding 0;

    background-color: $button-color;

    color: $button-text-color;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;

    border: none;

    transition: all .1s ease;

    -webkit-tap-highlight-color: transparent;
}

button:hover {
    background-color: darken($button-color, 4%);
}

button:active {
    background-color: darken($button-color, 8%);
}

button:focus {
    outline: none;
}

button > img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
}

.spinner {
   height:60px;
   width:60px;
   position:relative;
   animation: rotation 1.0s infinite linear;
   border: 6px solid $spinner-track-color;
   border-radius:100%;
}

.spinner:before {
   content:"";
   display:block;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top: 6px solid $spinner-color;
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
}

@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}