button {
    position: relative;
    display: block;
    
    width: 100%;

    padding: 0.5rem;
    margin: $padding 0;

    background-color: $button-color;

    color: $button-text-color;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;

    border: none;

    transition: all .1s ease;

    -webkit-tap-highlight-color: transparent;
}

button[disabled] {
  opacity: 0.5;
}

button:hover {
    background-color: darken($button-color, 4%);
}

button:active {
    background-color: darken($button-color, 8%);
}

button:focus {
    outline: none;
}

button > img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
}

button.image-btn {
    width: 60px;
    height: 60px;

    margin: 0;
    padding: $padding;

    background-color: transparent;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    text-indent: -9999px;
}

button.image-btn:hover {
    background-color: lighten($bg-color, 5%);
}

button.image-btn:active {
    background-color: lighten($bg-color, 10%);
}