button {
    position: relative;
    display: block;

    width: 100%;

    padding: $btn-padding;
    margin: $padding 0;

    background-color: $button-color;

    color: $button-text-color;
    font-family: inherit;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: $border-radius;

    transition: all .1s ease;

    -webkit-tap-highlight-color: transparent;
}

button[disabled] {
  opacity: 0.5;
}

button:hover {
    background-color: $btn-hover-color;
}

button:active {
    background-color: $btn-active-color;
}

button:focus {
    outline: none;
}

button > img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
}

button.image-btn {
    width: $btn-size;
    height: $btn-size;

    margin: 0;
    padding: $padding;

    background-color: transparent;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    text-indent: -9999px;
}

button.image-btn:hover {
    background-color: $imgbtn-hover-color;
}

button.image-btn:active {
    background-color: $imgbtn-active-color;
}
