$switch-width: 70px;
$switch-height: 30px;
$switch-inset: 4px;
$switch-size: $switch-height - ($switch-inset * 2);

.toggle-switch {
    display: inline-block;
    position: relative;

    width: $switch-width;
    height: $switch-height;

    padding: 0 $padding;
}

.toggle-switch input {
    position: absolute;
    display: block;

    width: $switch-width;
    height: $switch-height;

    top: 0;
    left: $padding;

    margin: 0;
    padding: 0;

    opacity: 0;
}

.toggle-switch label {
    position: relative;

    float: left;

    user-select: none;
}

.toggle-switch label:before,
.toggle-switch label:after {
    content: ' ';

    position: absolute;
    display: block;

    width: $switch-width;
    height: $switch-height;

    top: 0;
    left: 0;

    background-color: $toggle-switch-track-color-off;
    
    transition: all 100ms ease-in;
}

.toggle-switch label:after {
    width: $switch-size;
    height: $switch-size;

    margin: $switch-inset;

    background-color: $toggle-switch-control-color;
}

.toggle-switch input:checked ~ label:before {
    background-color: $toggle-switch-track-color-on;
}

.toggle-switch input:checked ~ label:after {
    left: $switch-width - $switch-size - ($switch-inset * 2);
}

.toggle-switch input[disabled] ~ label:before, .toggle-switch input[disabled] ~ label:after {
    opacity: 0.5;
}