MiniMobileDeviceLabAppEngine/src/main/webapp/WEB-INF/appengine-web.xml
MiniMobileDeviceLabAppEngine/src/main/java/com/google/devrel/
MiniMobileDeviceLabAppEngine/src/main/webapp/js/config.js
mobiledevicelab/Constants.java
.idea/
MiniMobileDeviceLabAndroid/.gradle/
MiniMobileDeviceLabAndroid/build/
MiniMobileDeviceLabAndroid/app/*.apk
config.json

