.DS_Store
.sass-cache
.tmp
node_modules
*.log
infra/mmdl-template.json
web-front-end/dist
web-front-end/bower_components
node/config.js
cordova-app/platforms
cordova-app/plugins
cordova-app/www
cordova-app/yeoman/dist
.cache