html, body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif; 
  color: rgb(145, 145, 145);
  background-image: url('../images/cream_pixels.png');
  font-size: 20px;
}

div.loggedOut {
  padding: 20px 20px 20px 20px;
  font-size: 1.0em;
  min-width: 150px;
  max-width: 470px;
  margin:0 auto;
}

div.navbar {
  color: #ffffff;
  background-color: rgb(52, 170, 218);
  height: 74px;
  width:90%;
  font-size: 3.2em;
  padding: 32px 5% 32px 5%;
}

div.navbar span {
  display: inline;
  float: left;
  vertical-align: middle;
  line-height: normal;
  height:100%;
  width:30%;
  min-width: 320px;
  max-width: 800px;
  padding: 0px 64px 0px 0px;
}

div.url-send-container {
	display: block;
	font-size: 1.0rem;
  line-height: normal;
  height: 100px;
}

div.url-send-container span {
	font-size: 1.0rem;
	display:block;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    color: rgb(52, 170, 218);
    font-weight: 300;
}

div.container {
  font-size: 1.0em;
  height:100px;
  color: rgb(243, 242, 247);
  width: 100%;
}

div.platform-header {
  background-color: rgb(52, 170, 218);
  width:90%;
  padding: 16px 5% 16px 5%;
  height: 60px;
}

div.container header {
  font-size: 1.45em;
  display:block;
  float:left;
  height: 56px;
	line-height:56px;
  clear: left;
}

div.container header img {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	padding: 12px;
}

div.container header span {
	display: inline;
	margin: 0px 32px 0px 0px;
}

div.refreshDevices {
  font-size: 1.0rem;
  display:block;
  height: 56px;
  line-height:56px;
  float:left;
}

div.refreshDevices img {
	display: inline;
}

div.refreshDevices span {
	display: inline;
	margin: 0px 0px 0px 16px;
}

div#devicesTable {
	display: block;
	float: left;
	clear: left;
	width:90%;
    padding: 0px 5% 0px 5%;
    color: rgb(43, 135, 174);
}

table.device {
	width: 100%;
	min-width: 420px;
	table-layout: fixed;
}

table {
  border-collapse: collapse;
}
tr { 
  border: solid;
  border-width: 1px 0;
  border-color: rgba(52,170,218,.2);
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

td.device-right {
	width: 25%;
}

td.device-icons {
	width: 45%;
}

td.device-name {
	width: 20%;
}

td.device-version {
	width: 10%;
}

button {
    position: relative;
    display: inline;

    width: auto;

    padding: 8px;
    margin: 16px 0;

    background-color: rgb(52, 170, 218);

    color: rgb(243, 242, 247);
    font-family: inherit;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 3px;

    transition: all .1s ease;

    -webkit-tap-highlight-color: transparent;
}

button#signinButton {
    width: 100%;
    height: 64px;
}

button img {
    float: left;
}

button span {
  vertical-align: middle;
  padding: 0px 48px 0px 0px;
}

button[disabled] {
  opacity: 0.5;
}

button:hover {
    background-color: rgb(38,158,207);
}

button:active {
    background-color: rgb(34,141,185);
}

button:focus {
    outline: none;
}

img.button {
	display: inline;
	float:left;
	padding: 12px;
	width: 32px;
	height: 32px;
}

img.button#pushUrl {
	border: 0;
    border-radius: 0px 3px 3px 0px;
	background-color: rgb(243, 242, 247);
}

img.button:hover, img.button:active, img.button:focus {
	 background-color: rgb(218, 219, 220)
}

img.button-device-confirm {
	padding: 12px;
	width: 32px;
	height: 32px;
	background-color: rgb(43, 135, 174);
    border-radius: 0px 3px 3px 0px;
    float: left;
}

img.button-device-confirm:hover, img.button-device-confirm:active, img.button-device-confirm:focus {
	 background-color: rgb(52, 170, 218);
}

.toggle-switch {
	display: inline-block;
    position: relative;
	float:right;
    width: 110px;
    height: 40px;
    margin:8px 0px 0px 0px;
}

.toggle-switch input {
    position: absolute;
    display: block;

    width: 110px;
    height: 40px;

    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    opacity: 0;
    
}

.toggle-switch label {
    position: relative;

    width: 110px;
    height: 40px;

    float: left;

    user-select: none;
    overflow: hidden;
}

.toggle-switch label:before,
.toggle-switch label:after {
    content: ' ';

    position: absolute;
    display: block;

    width: 110px;
    height: 40px;

    top: 0;
    left: 0;

    background-color: rgb(254, 114, 113);

    border-radius: 3px;

    transition: all 100ms ease-in;
}

.toggle-switch label:after {
    width: 30px;
    height: 30px;

    margin: 5px;

    background-color: rgb(243, 242, 247);

    border-radius: 3px;

}

.toggle-switch input:checked ~ label:before {
    background-color: rgb(43, 135, 174);
}

.toggle-switch input:checked ~ label:after {
    left: 60px;

    background-color: rgb(255, 255, 255);

    box-shadow: none;
}

.toggle-switch input[disabled] ~ label:before, .toggle-switch input[disabled] ~ label:after {
    opacity: 0.5;
}

input {
    display: inline;
    padding: 16px;
    height:24px;

    color: rgb(43, 135, 174);
    font-size: 1rem;
    font-weight: inherit;
    font-family: inherit;

    background-color: rgb(243, 242, 247);

    border: 0;
    border-radius: 3px 0px 0px 3px;
}

input.device-name {
    color: rgb(243, 242, 247);
    background-color: rgb(43, 135, 174);
    width: 80px;
    float: left;
}

input.device-name:focus {
    outline: none;
    background-color: rgb(112, 146, 161);
}


input#url {
	width:40%;
	float:left;
  min-width: 150px;
  max-width: 2000px;
  margin:0 auto;
}

input:focus {
    outline: none;
    background-color: rgb(218, 219, 220);
}

