body {
  font-family: 'Roboto', sans-serif;

  box-sizing: border-box;

  color: #ecf0f1;
}

.full-wrapper {
  width: 100%;
  height: 100%;

  padding: 20px;

  box-sizing: border-box;
}

.result-container {
  display: flex;

  width: 100%;
  height: 100%;
  
  flex-direct: horizontal;
  flex-wrap: wrap;

  background-color: #bdc3c7;
}

.single-result {
  width: 0;
  min-width: 50%;
  flex: 1;

  padding: 20px;

  box-sizing: border-box;
}

.title, .subtitle {
  margin: 0;
  padding: 0;

  text-align: center;
}

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 15px;
}

.center-score {
  font-size: 108px;
}

.good {
  background-color: #2ecc71;
}

.ok {
  background-color: #f1c40f;
}

.bad {
  background-color: #e74c3c;
}
