/**.psi-desktop-speed-score {
  background-color: #1abc9c;
  color: #ecf0f1;
}

.psi-mobile-speed-score {
  background-color: #3498db;
  color: #ecf0f1;
}

.psi-ux-score {
  background-color: #e74c3c;
  color: #ecf0f1;
}**/