body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #ecf0f1;
}

.full-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.result-container {
  display: flex;

  width: 100%;
  height: 100%;
  
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.single-result {  
  flex: 1;

  padding: 20px;
  padding-bottom: 60px;

  box-sizing: border-box;
}

.single-result.loading {
  color: #bdc3c7;
}

.title, .subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
}

.bottom-url {
  position: fixed;
  
  width: 100%;

  left: 0;
  bottom: 0;

  line-height: 20px;
  text-align: center;

  padding: 20px;
  box-sizing: border-box;
}

.displays-4.result-container {
  flex-direction: row;

  flex-wrap: wrap;
}

.displays-4 .single-result {
  width: 0;
  height: 0;

  min-width: 50%;
  min-height: 50%;
}

.displays-4 .single-result:nth-of-type(3),
.displays-4 .single-result:nth-of-type(4) {
  padding-bottom: 60px;
}

@media screen and (orientation: portrait) {
  .title {
    font-size: 12vw;
  }
  .subtitle {
    font-size: 6vw;
  }
  .center-score {
    font-size: 40vw;
  }

  .result-container {
    flex-direction: column;
  }
  
  .result-container .single-result {
    padding-bottom: 20px;
  }

  .result-container .single-result:last-child {
    padding-bottom: 60px;
  }

  .displays-3 .center-score {
    font-size: 22vw;
  }

  .displays-3 .title {
    font-size: 8vw;
  }
  
  .displays-4 .center-score {
    font-size: 20vw;
  }

  .displays-4 .title {
    font-size: 6vw;
  }
}

@media screen and (orientation: landscape) {
  .title {
    font-size: 12vh;
  }
  .subtitle {
    font-size: 6vh;
  }
  .center-score {
    font-size: 55vh;
  }

  .result-container {
    flex-direction: row;
  }
  
  .result-container .single-result {
    padding-bottom: 60px;
  }

  .displays-2 .center-score {
    font-size: 22vh;
  }

  .displays-2 .title {
    font-size: 6vh;
  }

  .displays-3 .center-score {
    font-size: 16vh;
  }

  .displays-3 .title {
    font-size: 4vh;
  }
  
  .displays-4 .single-result {
    padding-bottom: 20px;
  }

  .displays-4 .center-score {
    font-size: 16vh;
  }

  .displays-4 .title {
    font-size: 4vh;
  }
}

.good {
  background-color: #2ecc71;
}

.ok {
  background-color: #f1c40f;
}

.bad {
  background-color: #e74c3c;
}
