<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>com.google.devrel.mobiledevicelab.spi.DeviceLabApi</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>channelConnected</servlet-name>
		<servlet-class>com.google.devrel.mobiledevicelab.spi.ChannelConnected</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>channelConnected</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>channelDisconnected</servlet-name>
		<servlet-class>com.google.devrel.mobiledevicelab.spi.ChannelDisconnected</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>channelDisconnected</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
	        <web-resource-name>All Urls</web-resource-name>
	        <url-pattern>/*</url-pattern>
	    </web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>