<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="co.uk.gauntface.cordova.plugin.gcmbrowserlaunch"
    version="0.0.1">

    <name>GCMBrowserLaunch</name>
    <description>A GCM Based Plugin to Launch a Browser</description>
    <license>Apache 2.0</license>
    <keywords>cordova,GCMBrowserLaunch</keywords>
    <repo><!--URL--></repo>
    <issue><!--URL--></issue>

    <js-module src="www/gcmlaunchbrowser.js" name="gcmlaunchbrowser">
        <clobbers target="gcmlaunchbrowser" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GCMBrowserLaunch">
                <param name="android-package" value="co.uk.gauntface.cordova.plugin.gcmbrowserlaunch.GCMBrowserLaunch" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="co.uk.gauntface.cordova.plugin.gcmbrowserlaunch.PushNotificationReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <category android:name="co.uk.gauntface.mobile.devicelab" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <permission android:name="co.uk.gauntface.mobile.devicelab.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="co.uk.gauntface.mobile.devicelab.permission.C2D_MESSAGE" />
        </config-file>

        <source-file src="src/android/C.java" target-dir="src/co/uk/gauntface/cordova/plugin/gcmbrowserlaunch" />
        <source-file src="src/android/GCMBrowserLaunch.java" target-dir="src/co/uk/gauntface/cordova/plugin/gcmbrowserlaunch" />
        <source-file src="src/android/PushNotificationReceiver.java" target-dir="src/co/uk/gauntface/cordova/plugin/gcmbrowserlaunch" />
        <source-file src="src/android/GCMController.java" target-dir="src/co/uk/gauntface/cordova/plugin/gcmbrowserlaunch" />
    </platform>

    <!-- ios -->
    <!--<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVDevice.h" />
        <source-file src="src/ios/CDVDevice.m" />
    </platform>-->

</plugin>
