body {
  font-family: 'Open Sans', sans-serif;
}

[main] {
  background-color: #f9f9f9;
}

[drawer] {
  background-color: #ffffff;
}

core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

.drive-signInBtn {
  display: none;
}

.drive-signInBtn.is-required {
  display: inline-block;
}

paper-button.js-currently-selected {
  background-color: #1243E8;
  color: white;
}

.defaultPadding {
  padding: 16px;
}

ul.js-loopurlslist {
  padding-left: 0;
  list-style-type: none;
}

ul.js-loopurlslist li {
  padding: 16px;
  vertical-align: middle;
  border-bottom: 1px solid #b6b6b6;
}
