/**.owp-https {
  background-color: #16a085;
  color: #ecf0f1;
}

.owp-web-manifest {
  background-color: #27ae60;
  color: #ecf0f1;
}

.owp-theme-color {
  background-color: #2980b9;
  color: #ecf0f1;
}

.owp-sw {
  background-color: #2980b9;
  color: #ecf0f1;
}

.owp-add-homescreen {
  background-color: #8e44ad;
  color: #ecf0f1;
}**/