/**.wpt-first-render {
  background-color: #f1c40f;
  color: #ecf0f1;
}

.wpt-repeat-render {
  background-color: #a66bbe;
  color: #ecf0f1;
}

.wpt-speed-index {
  background-color: #2ecc71;
  color: #ecf0f1;
}**/